<launch>
  <!--打开节点wheeltec_robot，初始化串口等操作-->
  <arg name="akm"  default="true"/>
  <arg     if="$(arg akm)" name="akm_cmd_vel_topic"  default="ackermann_cmd"/>
  <arg unless="$(arg akm)" name="akm_cmd_vel_topic"  default="none"/>

  <node pkg="turn_on_wheeltec_robot" type="wheeltec_robot_node" name="wheeltec_robot" output="screen" respawn="true">
    <param name="usart_port_name"    type="string" value="/dev/wheeltec_controller"/>  
    <param name="serial_baud_rate"   type="int"    value="115200"/>
    <param name="robot_frame_id"     type="string" value="base_footprint"/>
    <param name="cmd_vel"            type="string" value="cmd_vel"/> 
    <param name="akm_cmd_vel"        type="string" value="$(arg akm_cmd_vel_topic)"/> 
    <param name="product_number"     type="int"    value="0"/>
  </node>

  <!--Ackerman car subscribed to Ackerman type speed commands /ackermann_cmd
      阿克曼小车订阅阿克曼类型的速度命令/ackermann_cmd -->
  <group if="$(arg akm)">
    <node pkg="turn_on_wheeltec_robot" type="cmd_vel_to_ackermann_drive.py" name="cmd2ackermann" output="screen">
    </node>
  </group>

</launch>



